.ssh/
vendor/*
.env
Outh Token.rtf
.ssh/authorized_keys
.ssh/id_dsa
.ssh/id_dsa.pub
.ssh/putty/id_dsa.ppk
vendor/*
/node_modules
/public/hot
/public/storage
/storage/*.key
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml/
.DS_Store
        .env
        app/.DS_Store
        app/Http/.DS_Store
        app/Http/Controllers/.DS_Store
        bootstrap/.DS_Store
        config/.DS_Store
        database/.DS_Store
        database/migrations/.DS_Store
        node_modules/bootstrap/dist/.DS_Store
        node_modules/bootstrap/dist/css/.DS_Store
        node_modules/engine.io/node_modules/ws/lib/.DS_Store
        node_modules/extglob/lib/.DS_Store
        node_modules/micromatch/lib/.DS_Store
        node_modules/node-sass/src/.DS_Store
        node_modules/socket.io/node_modules/ws/lib/.DS_Store
        node_modules/stylelint-order/rules/.DS_Store
        node_modules/stylelint-order/rules/order/.DS_Store
        node_modules/stylelint-order/rules/properties-alphabetical-order/.DS_Store
        node_modules/stylelint-order/rules/properties-order/.DS_Store
        node_modules/timers-browserify/.DS_Store
        node_modules/vue-loader/lib/.DS_Store
        node_modules/vue-loader/lib/loaders/.DS_Store
        resources/.DS_Store
        resources/svg/.DS_Store
        resources/views/.DS_Store
        resources/views/admin/.DS_Store
        vendor/.DS_Store
        vendor/asm89/stack-cors/LICENSE
        vendor/asm89/stack-cors/README.md
        vendor/asm89/stack-cors/composer.json
        vendor/asm89/stack-cors/src/Cors.php
        vendor/asm89/stack-cors/src/CorsService.php
        vendor/autoload.php
        vendor/bin/carbon
        vendor/bin/commonmark
        vendor/bin/generate-defuse-key
        vendor/bin/php-parse
        vendor/bin/phpunit
        vendor/bin/psysh
        vendor/bin/var-dump-server
        vendor/brick/math/LICENSE
        vendor/brick/math/SECURITY.md
        vendor/brick/math/composer.json
        vendor/brick/math/psalm-baseline.xml
        vendor/brick/math/psalm.xml
        vendor/brick/math/random-tests.php
        vendor/brick/math/src/BigDecimal.php
        vendor/brick/math/src/BigInteger.php
        vendor/brick/math/src/BigNumber.php
        vendor/brick/math/src/BigRational.php
        vendor/brick/math/src/Exception/DivisionByZeroException.php
        vendor/brick/math/src/Exception/IntegerOverflowException.php
        vendor/brick/math/src/Exception/MathException.php
        vendor/brick/math/src/Exception/NegativeNumberException.php
        vendor/brick/math/src/Exception/NumberFormatException.php
        vendor/brick/math/src/Exception/RoundingNecessaryException.php
        vendor/brick/math/src/Internal/Calculator.php
        vendor/brick/math/src/Internal/Calculator/BcMathCalculator.php
        vendor/brick/math/src/Internal/Calculator/GmpCalculator.php
        vendor/brick/math/src/Internal/Calculator/NativeCalculator.php
        vendor/brick/math/src/RoundingMode.php
        vendor/cloudcreativity/json-api-testing/.editorconfig
        vendor/cloudcreativity/json-api-testing/.gitignore
        vendor/cloudcreativity/json-api-testing/.travis.yml
        vendor/cloudcreativity/json-api-testing/CHANGELOG.md
        vendor/cloudcreativity/json-api-testing/LICENSE
        vendor/cloudcreativity/json-api-testing/README.md
        vendor/cloudcreativity/json-api-testing/composer.json
        vendor/cloudcreativity/json-api-testing/phpunit.xml
        vendor/cloudcreativity/json-api-testing/src/Assert.php
        vendor/cloudcreativity/json-api-testing/src/Compare.php
        vendor/cloudcreativity/json-api-testing/src/Concerns/HasDocumentAssertions.php
        vendor/cloudcreativity/json-api-testing/src/Concerns/HasHttpAssertions.php
        vendor/cloudcreativity/json-api-testing/src/Constraints/EmptyOrMissingList.php
        vendor/cloudcreativity/json-api-testing/src/Constraints/ExactInDocument.php
        vendor/cloudcreativity/json-api-testing/src/Constraints/ExactInList.php
        vendor/cloudcreativity/json-api-testing/src/Constraints/HttpStatusIs.php
        vendor/cloudcreativity/json-api-testing/src/Constraints/IdentifierInDocument.php
        vendor/cloudcreativity/json-api-testing/src/Constraints/IdentifierInList.php
        vendor/cloudcreativity/json-api-testing/src/Constraints/IdentifiersInDocument.php
        vendor/cloudcreativity/json-api-testing/src/Constraints/OnlyExactInList.php
        vendor/cloudcreativity/json-api-testing/src/Constraints/OnlyIdentifiersInList.php
        vendor/cloudcreativity/json-api-testing/src/Constraints/OnlySubsetsInList.php
        vendor/cloudcreativity/json-api-testing/src/Constraints/SubsetInDocument.php
        vendor/cloudcreativity/json-api-testing/src/Constraints/SubsetInList.php
        vendor/cloudcreativity/json-api-testing/src/Document.php
        vendor/cloudcr
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
kuraconnect-ang
dbcred