# Copy this to your my.cnf file. Please change <directory> to the corresponding 
# directory where the files were copied.
[client]
ssl-ca=dbcred/ca-cert.pem
ssl-cert=dbcred/client-cert.pem
ssl-key=dbcred/client-key.pem

[mysqld]
ssl-ca=dbcred/ca-cert.pem
ssl-cert=dbcred/server-cert.pem
ssl-key=dbcred/server-key.pem
        